input {
    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
