    layout {
        focus-ring {
            width 2 // Smaller than the default 4
        }

        background-color "#1B2A4A" // <- needed for noctalia-shell to set wallpaper

        struts {
            left 10
            right 10
        }
    }
