.git-credentials
dotfiles/fish/fish_variables
dotfiles/kitty/host-session.conf
dotfiles/lazygit/state.yml
dotfiles/niri/workspace-state.json
dotfiles/systemd/user/default.target.wants/
komodo_db_pass.txt
