[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=Fast, feature-rich, GPU based terminal
Exec=kitty
GenericName=Terminal emulator
Icon=kitty
Name=kitty
StartupNotify=true
TryExec=kitty
Type=Application
Version=1.0
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgExec=--
X-TerminalArgHold=--hold
X-TerminalArgTitle=--title
