[Desktop Entry]
Categories=GNOME;GTK;Network;InstantMessaging;
Comment=Slack Desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.slack.Slack --file-forwarding com.slack.Slack @@u %U @@
GenericName=Slack Client for Linux
Icon=com.slack.Slack
MimeType=x-scheme-handler/slack;
Name=Slack
StartupWMClass=Slack
Type=Application
X-Desktop-File-Install-Version=0.28
X-Flatpak=com.slack.Slack
X-Flatpak-RenamedFrom=slack.desktop;
X-GNOME-UsesNotifications=true
